menu "Application Configuration"

	config GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 19 if IDF_TARGET_ESP32C3
		default 30 if IDF_TARGET_ESP32C6

	menu "CAN Setting"

		config CTX_GPIO
			int "CTX GPIO number"
			range 0 GPIO_RANGE_MAX
			default 21 if IDF_TARGET_ESP32
			default 19 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
			default  0 # C3 and others
			help
				GPIO number (IOxx) to CTX.
				Some GPIOs are used for other purposes (flash connections, etc.).
				GPIOs 35-39 are input-only so cannot be used as outputs.

		config CRX_GPIO
			int "CRX GPIO number"
			range 0 GPIO_RANGE_MAX
			default 22 if IDF_TARGET_ESP32
			default 20 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
			default  1 # C3 and others
			help
				GPIO number (IOxx) to CRX.
				Some GPIOs are used for other purposes (flash connections, etc.).
				GPIOs 35-39 are input-only so cannot be used as outputse

	endmenu


	menu "WiFi Setting"

		config ENABLE_UDP
			bool "Output the received CAN FRAME to UDP broadcast"
			help
				Output the received CAN FRAME to UDP broadcast

		config ESP_WIFI_SSID
			depends on ENABLE_UDP
			string "WiFi SSID"
			default "myssid"
			help
				SSID (network name) to connect to.

		config ESP_WIFI_PASSWORD
			depends on ENABLE_UDP
			string "WiFi Password"
			default "mypassword"
			help
				WiFi password (WPA or WPA2) to connect to.
	
		config ESP_MAXIMUM_RETRY
			depends on ENABLE_UDP
			int "Maximum retry"
			default 5
			help
				Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
	
		config UDP_PORT
			depends on ENABLE_UDP
			int "Port number of UDP Broadcast"
			default 9876
			help
				Port number of UDP Broadcast.

	endmenu

	menu "UART Setting"

		config UART_TX_GPIO
			int "UART TX GPIO number"
			range 0 GPIO_RANGE_MAX
			default  4 if IDF_TARGET_ESP32
			default 17 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
			default  4 # C3 and others
			help
				GPIO number (IOxx) to UART TX.
				Some GPIOs are used for other purposes (flash connections, etc.).
				GPIOs 35-39 are input-only so cannot be used as outputs.

		config UART_RX_GPIO
			int "UART RX GPIO number"
			range 0 GPIO_RANGE_MAX
			default  5 if IDF_TARGET_ESP32
			default 18 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
			default  5 # C3 and others
			help
				GPIO number (IOxx) to UART RX.
				Some GPIOs are used for other purposes (flash connections, etc.).
				GPIOs 35-39 are input-only so cannot be used as outputs.

	endmenu

endmenu
